*
{
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
  list-style: none;
}

hr {
	border: 0;
	border-top: 3px solid red;
}

body{
  width: 100%;
}

.container
{
  background-image: url(public/RACIME.png);
  background-size: cover;
  height: 90vh;
  width: 100%;
}

/* DEBUT CSS MENU */
.header 
{
  width: 100%;
  height: 8vh;
  display: flex;
  align-items: center;
  background-color:transparent;  
}


.logo
{
  width: 100px;
  height: 100px;
  margin: 2% ;  
}

.header nav
{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.header ul
{
  color: white;
  justify-content: center;
  margin-left: 500px; 
}

.header li 
{
  display: inline-block; 
  font-size: x-large;
  padding-right: 300px;

}

.header li a
{
  color: white;
}
/* FIN CSS MENU */



/* DEBUT CSS INTRO */

.bouton
{
  word-spacing: 20px;
}

.bt
{
  
  text-align: center ;
  padding: 10px 20px; 
  background: red; 
  color: white;
  border-radius: 3px;
  justify-content: center;
  border-right: 20px;
}

.pro
{
  color: white;
  background-color: rgb(32, 32, 32);
  border-color: grey;
  border-radius: 3px;
  justify-content: center;
  text-align: center ;
  padding: 10px 25px;
}

button a{
  color: white;
}


button:hover 
{
  background: rgb(146, 5, 5); 
}



.intro
{ 
  margin-left: 3%;
  display:flex;
  flex-direction: row;
  padding-top: 18%;
  border-bottom: 5px;
}

.intro h2
{
font-family: 'Oswald', sans-serif;
font-size: 60px;
color: red;
padding-bottom: 1%;
}

.intro .texteintro 
{  
  padding-bottom: 1.5%;
  font-size: larger;
  color: grey ;
  text-align: justify;
  margin-right:60%;
}


/* DEBUT CSS PROFIL */

#profil 
{
  padding-left: 3%;
  padding-top: 25px;
  background-color: rgb(20, 20, 20);
  color: rgb(155, 155, 155);
  display: flex;
  flex-direction: column;
}

#profil h3
{
 border-bottom: 5px;
}

#profil .competencet 
 {
  display: flex;
  flex-direction: row;
  overflow-x: scroll;
  background-color: rgb(20, 20, 20);
  margin-top: 20px;
  word-spacing: 1%;
  margin-bottom:40px ;
  width: 100%;
 }
 


#profil .competences
{
  display: flex;
  flex-direction: row;
  overflow-x: scroll;
  background-color: rgb(20, 20, 20);
  margin-top: 20px;
  word-spacing: 1%;  
  margin-bottom:40px;
  width: 100%;

}

#profil  .img
{
  border-radius: 5px;
  background-color: black;
  padding: 20px;
  
}


#profil .img:hover 
{
  background-color: gold;
  opacity: 0.5;
}

/* FIN CSS DU PROFIL */

/* DEBUT CSS PROJET */

#projet
{
  padding-left: 3%;
  background-color: rgb(20, 20, 20);
  color: rgb(155, 155, 155);
  padding-bottom: 20px;
}

.projet img
{
  padding: 10px;
  border-radius: 5px;
  background-color: black;
}

#projet .lienprojet
{
word-spacing: 10px;
}

#projet h3
{
  border-bottom: 100px;
}

/* DEBUT CSS FOOTER */
.footer
{
  padding-left: 3%;

  background-color: rgb(20, 20, 20);
  height: 30vh;
  display: flex;
  align-items: center;
  color: white;
}

.reseaux
{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 3%;
}

.reseaux img
{
  padding: 10%;
}

.footer ul
{
  display: flex;
  flex-direction: row;
  padding-left: 300px;
}

.footer li 
{
  padding-right: 200px;
  font-size: large;
}

.footer li a
{
  color: white;
}

.footer .lienfooter
{
  justify-content: center;
}

/* FIN CSS FOOTER */





::-webkit-scrollbar
{
  display: none;
}
 